<ion-header no-border>

  <ion-navbar transparent>
    <ion-title *ngIf="subreddit">/r/{{subreddit.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3 *ngIf="subreddit">Welcome to /r/{{subreddit.name}}</h3>
  <p *ngIf="subreddit">{{subreddit.description}}</p>
  <p>Scroll through the posts below or click "Create a post" to add your own content.</p>
  <button ion-button clear small (click)="showSortByPopover($event)">
        <ion-icon name="{{sortIcon}}"></ion-icon>&nbsp;&nbsp;{{sortMethod}}&nbsp;&nbsp;<ion-icon name="arrow-down"></ion-icon>
  </button>
  <ion-list>
    <button ion-button (click)="createPost()" style="margin: 10px 0 20px 0">Create a post</button>
    <div *ngFor="let post of posts">
      <post [post]="post" [subreddit]="subreddit" [showCommentBtn]="true" [commentPage]="false"></post>
    </div>
    <p *ngIf="isEmpty">There are no posts at the moment!</p>
  </ion-list>
</ion-content>