page-subreddit {
    #sortby > span {
        font-size: 12px;
    }
    #sortby {
        text-align: left;
        width: 100%;
    }
    
    .header {
        width: 100%;
        text-align: center;
    }
}
