page-subreddit {
    .postitem {
        width: auto; 
        height: auto;
        border-radius: 3px;
        box-shadow: 2px 2px 8px gray;
    }
    .post-topbar {
        width: 100%;
        border-bottom: 1px solid lightgrey;
    }
    .post-message {
        font-size: 18px;
    }
    .post-upvotes {
    }
    .post-comments {
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
    }
    .post-share {
    }
}
