<div class="post">
  <div class="post-container">
    <div class="post-content">
      <div class="post-media" *ngIf="post.media">
        <img src="{{post.media}}" alt="post media">
      </div>
      <div class="post-info">
        <div class="post-info-bar">
          <a class="subreddit-name" *ngIf="!subreddit" (click)="goToSubreddit()">r/{{post.subreddit}}</a>
          <a class="subreddit-name" *ngIf="subreddit">r/{{post.subreddit}}</a>
           - TIMEAGO - u/{{post.user}}
        </div>
        <div class="post-title">{{post.title}}</div>         
      </div>
      
    </div>
    <div class="post-actions">
      <div class="comments"><a><ion-icon name="text"></ion-icon>&nbsp;&nbsp; {{post.numcomments}} Comments</a></div>
      <div class="voting-box">
          <a>
            <ion-icon (click)="upvote()" name="arrow-up"></ion-icon>
          </a><span class="post-score">{{score}}</span>
          <a>
            <ion-icon (click)="downvote()" name="arrow-down"></ion-icon>
          </a>
      </div>
    </div>
  </div>
  <hr>
</div>