<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="toggleNewPostBox()"><ion-icon name="create"></ion-icon></button>
      <button ion-button icon-only (click)="toggleSearchbar()"><ion-icon name="search"></ion-icon></button>
      <button ion-button icon-only (click)="toggleMenu()"><ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- search results overlay -->
  <div id="searchbar" *ngIf="showSearchbar">
    <ion-toolbar color="secondary">
      <ion-searchbar (ionInput)="onInput($event)" showCancelButton="true" placeholder="Search for Subreddits..."
        type="text"></ion-searchbar>
    </ion-toolbar>
    <ion-list inset padding-left padding-right>
      <button ion-item no-lines (click)="goToSubreddit(subreddit.subreddit_id)" *ngFor="let subreddit of subredditDisplay">r/{{subreddit.name}}</button>
    </ion-list>
  </div>
  <!-- sort by tab -->
  <div id="sort-and-login">
    <button ion-button clear small (click)="showSortByPopover($event)">
      <ion-icon name="{{sortIcon}}"></ion-icon>&nbsp;&nbsp;{{sortMethod}}&nbsp;&nbsp;<ion-icon name="arrow-down"></ion-icon>
    </button>
    <a text-right *ngIf="!username" (click)="openAuth()">Log In / Register</a>
    <a text-right *ngIf="username" (click)="logout()">Sign Out</a>
  </div>

  <div>
    <span>Subreddit navigation:</span>
    <select [(ngModel)]="selectedSubreddit">
      <option *ngFor="let subreddit of subreddits" value="{{subreddit.subreddit_id}}">
        <li>{{subreddit.name}}</li>
      </option>
    </select>
    <button class="subreddit-button" (click)="goToSubreddit(selectedSubreddit)">GO</button>
  </div>


  <h2>Welcome to Reddit Clone</h2>
  <p><i>A social news aggregator where users have the power to add, rate, and curate content!</i></p>
  <p *ngIf="username">Your username is {{username}}</p>

  <button ion-button (click)="showUserInfo()" style="margin-bottom: 20px;">Show user information</button>
  <!-- create subreddit -->
  <button ion-button (click)="createSubreddit()" style="margin-bottom: 20px">Create a Subreddit</button>

  <!-- display posts -->
  <div class="posts" *ngFor="let post of posts">
    <post *ngIf="posts" [post]="post" [isCardLayout]="isCardLayout" [showCommentBtn]="true"></post>
  </div>


  <!-- menu overlay -->
  <div id="menu" *ngIf="showMenu">
    <button ion-item text-right no-lines *ngFor="let option of menuOptions" (click)="self[option.action]()">
      <ion-icon color="secondary" name="{{option.icon}}"></ion-icon>&nbsp;&nbsp;&nbsp;{{option.title}}
    </button>
  </div>

  <!--keep this at the bottom to preserve page layout-->
  <div *ngIf="showBackgroundDiv ||showMenu || showNewPostBox || showSearchbar" id="page-cover" (click)="closeAllOverlays()"></div>
</ion-content>