page-profile {
    .scroll-content{
        padding-bottom: 0 !important;
        padding-left: 50px;
        padding-right: 50px;
    }

    .authcard-container {
        //display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 20px;
    }

    #close-icon {
        font-size: 2em;
        padding: 0 12px;
    }

    img{
        width: 40%;
        height: auto;
        border-radius: 90%;
        object-fit:cover;
    }

    .uploadButton {
        display: flex;
        justify-content: center;
        margin: 10px auto;
    }
}
