page-home {
    #page-cover {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 50;
        background-color: black;
        opacity: 0.5;
        top: 0;
        left: 0;
    }
    #menu {
        width: 100%;
        padding-top: 56px;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }
    #searchbar-results {
        position: fixed;
        padding-top: 100px;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
    }
    #sort-and-login {
        width: 100%;
        position: relative;
        border-bottom: 1px solid lightgray;
    }
    #sort-and-login > a {
        position: absolute;
        right: 0;
    }
    #sort-and-login > span {
        font-size: 12px;
    }

    .subreddit-nav {
        border: 1px solid #24a0ed;
    }
    #list-label {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        color: #fa794a;
        border-bottom: 1px solid lightgray;
        font-size: 13px;
        background-color: white;
        padding-left: 10px;
        padding-top: 5px;
        width: 100%;
    }
}
