page-login {
    #auth-card {
        margin: auto;
        background-color: white;
    }
    #auth-card > div {
        padding-top: 40px;
    }
    #verify-container {
        padding-bottom: 50px;
    }

    .login-errors {
        color: red;
    }

    #close-icon {
        font-size: 2em;
        padding: 0 12px;
    }
}
