page-login {
    #auth-card {
        margin: auto;
        background-color: white;
        border-radius: 25px;
        box-shadow: 1px 1px 18px gray;
    }
    #auth-card > div {
        padding-top: 40px;
    }
    #verify-container {
        padding-bottom: 50px;
    }

    .login-errors {
        color: red;
    }
}
