.comment-container {
    padding-top: 8px;
    padding-bottom: 8px;
}

hr {
    border-top: 1px solid rgba(100, 100, 100, 0.35);
    margin-bottom: 10px;
    height: 1px;
}

.comment-content {
    color: black;
    padding-bottom: 8px;
}

.comment-actions {
        padding: 5px 10px 0px 10px;
        position: relative;

        .voting-box {
            position: absolute;
            bottom: 0;
            right: 0;
        }
}

.comment-score {
    padding: 0 10px;
    box-sizing: border-box;
    flex-shrink: 1;
}

.comment-top-bar {
    color: rgb(167, 167, 167);
    width: 100%;
    position: relative;
}

.comment-top-bar > ion-icon {
    position: absolute;
    top: 5px;
    right: 5px;
}
