.dark-theme {
    ion-content {
      background-color: #1a1a1a;
      color: #fff;
    }
   
    .toolbar-title {
      color: #fff;
    }
   
    .header .toolbar-background {
      border-color: #ff0fff;
      background-color: #1a1a1a;
    }
  }  