<div class="post">
  <div class="post-container">
    <div class="post-content">
      <div class="post-link link" *ngIf="post.link && !isCardLayout">
        <img src="{{post.link}}" alt="post media" (click)="goToLink()">
      </div>
      <div class="post-info">
        <div class="post-info-bar">
          <a class="subreddit-name" *ngIf="!subreddit" (click)="goToSubreddit()">r/{{post.subreddit}}</a>
          <a class="subreddit-name" *ngIf="subreddit">r/{{post.subreddit}}</a> &bull; {{datePosted}} &bull; u/{{post.user}}
          <ion-icon (click)="deletePost()" name="trash" *ngIf="showDeleteBtn"></ion-icon>
        </div>
        <div *ngIf="!commentPage">
          <div class="post-title link" [style.fontSize]="isCardLayout ? '18px' : '16px'" (click)="showComments()">{{post.title}}</div>
          <div *ngIf="post.message" [style.fontSize]="isCardLayout ? '14px' : '12px'" class="post-message" (click)="showComments()">{{showCommentBtn ? (post.message | slice:0:120) : (post.message)}}</div>
        </div>
        <div *ngIf="commentPage">
          <div class="post-title" [style.fontSize]="isCardLayout ? '18px' : '16px'">{{post.title}}</div>
          <div *ngIf="post.message" [style.fontSize]="isCardLayout ? '14px' : '12px'" class="post-message">{{post.message}}</div>
        </div>
      </div>

    </div>
    <div text-center [style.width]="isMobile ? '100%' : '50%'" *ngIf="post.link && isCardLayout">
      <img class="link" src="{{post.link}}" alt="post media" (click)="goToLink()">
    </div>
    <div class="post-actions">
      <div class="comments" *ngIf="showCommentBtn">
        <a (click)="showComments()">
          <ion-icon name="text"></ion-icon>&nbsp;&nbsp; {{post.numcomments}} Comments
        </a>
      </div>
      <div class="voting-box">
        <a>
          <ion-icon (click)="upvote()" *ngIf="!disableInput && userUpvoted" name="arrow-up" color="secondary"></ion-icon>
          <ion-icon (click)="upvote()" *ngIf="!disableInput && !userUpvoted" name="arrow-up" color="darkgray"></ion-icon>
          <!-- Prevent user spamming -->
          <ion-icon *ngIf="disableInput && userUpvoted" name="arrow-up" color="secondary"></ion-icon>
          <ion-icon *ngIf="disableInput && !userUpvoted" name="arrow-up" color="darkgray"></ion-icon>
        </a><span class="post-score">{{score}}</span>
        <a>
          <ion-icon (click)="downvote()" *ngIf="!disableInput && userDownvoted" name="arrow-down" color="secondary"></ion-icon>
          <ion-icon (click)="downvote()" *ngIf="!disableInput && !userDownvoted" name="arrow-down" color="darkgray"></ion-icon>
          <!-- Prevent user spamming -->
          <ion-icon *ngIf="disableInput && userDownvoted" name="arrow-down" color="secondary"></ion-icon>
          <ion-icon *ngIf="disableInput && !userDownvoted" name="arrow-down" color="darkgray"></ion-icon>
        </a>
      </div>
    </div>
  </div>
  <hr>
</div>