<ion-header>

  <ion-navbar>
    <ion-title float-left>{{userHasAccount ? 'Login' : 'Sign Up'}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon id="close-icon" float-right name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="no-scroll">
  <div class="authcard-container">
    <!-- authentication card container -->
    <div id="authcard">
      <h3 text-center>Welcome to Reddit Clone</h3>
      <!-- form for a new account -->
      <div *ngIf="!userHasAccount && !needsVerification" text-center>
        <form #signupForm="ngForm" (ngSubmit)="signUpUser(signupForm)">
          <div *ngIf="usernameText && usernameText.length >= 3">
            <p class="help is-success" *ngIf="validUsername">
              {{usernameText}} is available.
            </p>
            <p class="help is-danger" *ngIf="!validUsername">
              {{usernameText}} is unavailable.
            </p>
          </div>

          <ion-item>
            <ion-input name="usernameInput" placeholder="Enter a username (between 3 and 16 characters)" [(ngModel)]="usernameText"  (keyup)="checkUsername(usernameText)"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="emailInput" placeholder="Enter Email" ngModel></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="password" type="password" placeholder="Enter Password" ngModel></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="confirmPassword" type="password" placeholder="Confirm Password" ngModel></ion-input>
          </ion-item>
          <button [style.marginTop]="screenY/24+'px'" ion-button type="submit" [disabled]="!validUsername || !usernameText">Submit</button>
        </form>
      </div>
      <!-- form for an existing user -->
      <div *ngIf="userHasAccount && !needsVerification" text-center>
        <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
          <ion-item>
            <ion-input name="emailInput" placeholder="Enter Email" ngModel></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="password" type="password" placeholder="Enter Password" ngModel></ion-input>
          </ion-item>
          <button [style.marginTop]="screenY/24+'px'" ion-button type="submit">Submit</button>
        </form>
      </div>
      <!--error messages only show if form not complete or passwords don't match-->
      <div class="login-errors" [style.display]="(showIncompleteFormErr || showPasswordsErr) ? 'block' : 'none'" text-center>
        <div [style.display]="showIncompleteFormErr ? 'visible' : 'hidden'">Please Complete All Fields</div>
        <div [style.visibility]="showPasswordsErr ? 'visible' : 'hidden'">Passwords Do Not Match</div>
      </div>
      <!-- button to switch form type -->
      <div *ngIf="!needsVerification" text-center>
        <button text-wrap clear ion-button (click)="switchForms()">{{userHasAccount ? "Don't have an account? Create one here" : 'Already have an account? Login in Here'}}</button>
      </div>
      <!-- only displayed after user creates and account and needs to verify their email -->
      <div *ngIf="needsVerification" text-center id="verify-container">
        <div [style.padding]="'30px 0'" text-center>For your convenience, you can quickly sign in AFTER you verify your email</div>
        <div><button ion-button large (click)="attemptSignIn()">Sign In</button></div>
      </div>
    </div>
  </div>
</ion-content>