<ion-header>

  <ion-navbar>
    <ion-title>Comments</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="post-content">
    <post [post]="post" [isCardLayout]="true" [showCommentBtn]="false" [commentPage]="true" [showDeleteBtn]="post.user == username"></post>
  </div>
  <div *ngIf="comments" class="post-comments">
    <ion-icon name="text" padding-right color="darkgray"></ion-icon><span>{{comments.length}}&nbsp;Comment{{comments.length != 1 ? 's' : ''}}</span>

    <div class="comments">
      <comment *ngFor="let comment of comments" [color]="textColor" [comment]="comment" [postId]="post.post_id" [showDeleteBtn]="comment.creator == username"></comment>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <form [style.backgroundColor]="itemColor" #commentBox="ngForm" (ngSubmit)="submitComment(commentBox)" class="write-comment-box">
      <textarea [style.color]="textColor"  #myInput name="commentInput" id="myInput" placeholder="Write comment..." rows="1" maxLength="500" (keyup)="resize()" ngModel></textarea>
      <button ion-button type="submit" small round><ion-icon name="arrow-up"></ion-icon></button>
    </form>
  </ion-toolbar>
</ion-footer>